.profile {
  display: flex;
  margin-top: 2em;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 30em;
  font-size: 1.5em;
  font-family: "Gaegu";
  margin: 1em;

  background-color: lightpink;
  color: white;
  -webkit-box-shadow: 5px 5px 15px -3px pink;
  box-shadow: 5px 5px 15px -3px pink;
}

.image {
  display: flex;
  margin-right: 25em;
}

.avatar {
  display: flex;
  width: 20em;
  margin: 0;
}

.profile_btn:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.profile_btn {
  background-color: transparent;
  color: white;
  border: none;
  position: relative;
  height: 2em;
  font-family: "Gaegu";
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 0;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.profile_btn:hover {
  background: lightpink;
  color: white;
}
.profile_btn:before,
.profile_btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: 400ms ease all;
}
.profile_btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.profile_btn:hover:before,
.profile_btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.description {
  font-size: 0.8em;
  font-family: "Gaegu";
  background-color: transparent;
  color: white;
  width: 30em;
  margin-top: -26em;
  margin-left: 33em;
  padding: 0;
  padding-left: 1.5em;
}

.etc {
  font-size: 0.8em;
  font-family: "Gaegu";
  background-color: transparent;
  color: white;
  margin: 0;
  margin-left: 25em;
  margin-bottom: 5em;
  padding: 0;
  padding-left: 1.5em;
}
