:root {
  color: #3d5361;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gaegu";
  background-color: bisque;
  margin: 1em;
  margin-top: 1em;
}

.skill_category {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.skill_item {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1em;
}

.skill_icon {
  margin: 0;
  font-size: 5em;
  transition: all 500ms ease;
}

.skill_icon:hover {
  color: #3d5361;
  transform: rotateY(360deg);
}
