.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: #3d5361;
  color: white;
  font-family: "Gaegu";
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.title {
  width: 19em;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.05em solid white;
  animation: typing 3s steps(20), cursor 1s steps(1) infinite;
}
